/* remove panelgrid border */
.ui-panelgrid td, .ui-panelgrid .ui-widget-content {
    border-style: none !important;
    border: none !important;
}

/* input field color */
.ui-inputfield {
    background: #ffffff;
    font-size: 1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* input field inside a widget */
.ui-widget .ui-inputfield {
    background: #ffffff;
}

/* remove borders from messages*/
.ui-message-info, .ui-message-error, .ui-message-warn, .ui-message-fatal {
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
	background: white;
	color: black;
}

/* remove background color from messages */
.ui-messages-info, .ui-message-info,
.ui-messages-fatal, .ui-message-fatal,
.ui-messages-warn, .ui-message-warn,
.ui-messages-error, .ui-message-error {
    background-color: #fff !important;
}

/* change info message color */
.ui-messages-info, .ui-message-info {
    color: green !important;
    margin-top: 5px !important;
}

/* change error message color */
.ui-messages-error, .ui-message-error{
    color: #b22222 !important;
}

/* text area */
.ui-inputtextarea {
    width: 700px;
    height: 150px;
}

/* resize calendar previous/next */
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    height: 1em !important;
    width: 1em !important;
}

/* autocomplete list always below the input text */
.ui-autocomplete-panel {
    top: 40px !important;
    border: none;
}

.ui-autocomplete-panel:hover {
    background: #d3d3d3;
}

.ui-rating-star, .ui-rating-cancel {
    height: 15px !important;
    width: 15px !important;
}

.ui-datagrid-column {
	padding: 0px !important;
}