body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    min-width: 960px;
}

/* HEADER */
.header {
    font-size: 0.95em;
    font-weight: bold;
    text-shadow: 0 0 3px white;
    background-color: #dcdcdc;
    padding: 10px 0 10px 0;
    width: 100%;
    border-bottom: 1px solid #aaaaaa;
    margin-bottom: 1%;
}

.center {
    margin-left: 20%;
    margin-right: 20%;
}

.logo {
    height: 25px;
    width: 95px;
    margin-bottom: -10px;
}

.login-register-panel {
    float: right;
    padding: 5px 10px 5px 10px;
    background: #dcdcdc;
    border: none;
}

.or {
    margin: -5px;
}

.searchButton.ui-button {
    border: none;
    background: none;
}

/* FOOTER */
.footer {
    font-weight: bold;
    color: rgb(204, 204, 204);
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background: #999;
}

/* LINKS */
a {
    text-decoration: none;
    color: black;
    padding: 5px 10px 5px 10px;
}

a:hover {
    text-decoration: underline;
}

/* LOGIN */
.panel-column {
    height: 75px;
    width: 300px
}

.login-panel {
    margin-left: 20%;
    margin-right: 20%;
    height: 270px;
}

/* REGISTER */
.register-panel {
    margin-left: 20%;
    margin-right: 20%;
    height: 350px;
}

/* ADD BOOK */
.addBook-panel {
    margin-left: 20%;
    margin-right: 20%;
}

.selectonemenu-style {
    width: 210px !important;
}

/* BOOK */
.book-panel {
    margin-left: 20%;
    margin-right: 20%;
    border: none;
    clear: both;
}

.book-image {
    width: 30%;
    height: 50%;
    float: left;
    margin-left: 5%;
    margin-right: -100px;
}

.book-details {
    width: 60%;
    float: left;
    margin-right: 5%;
}

.book-title {
    font-size: 1.6em;
}

.book-author-name.ui-button {
	border: none;
	background: none;
	margin-left: -5px;
}

.book-author-name.ui-button:hover {
	text-decoration: underline !important;
}

.book-ratings-panel.ui-panel .ui-panel-content{
	padding: 0;
	margin: 0;
}

.book-ratings-panel.ui-panel {
	border: none;
	padding: 0;
	margin: 0;
}

.book-ratings-totalRatings {
	font-size: 0.9em;
}

/* AUTHOR */
.author-panel {
	margin: 0 auto;
	width: 960px;
	border: none;
}