body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    min-width: 960px;
}

/* HEADER */
.header {
    font-size: 0.95em;
    font-weight: bold;
    text-shadow: 0 0 3px white;
    background-color: #dcdcdc;
    padding: 10px 0 10px 0;
    width: 100%;
    border-bottom: 1px solid #aaaaaa;
    margin-bottom: 1%;
}

.header .center {
    margin-left: 20%;
    margin-right: 20%;
}

.logo {
    height: 25px;
    width: 95px;
    margin-bottom: -10px;
}

.login-register-panel {
    float: right;
    padding: 5px 10px 5px 10px;
    background: #dcdcdc;
    border: none;
}

.or {
    margin: -5px;
}

/* FOOTER */
.footer {
    font-weight: bold;
    color: rgb(204, 204, 204);
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background: #999;
}

/* LINKS */
a {
    text-decoration: none;
    color: black;
    padding: 5px 10px 5px 10px;
}

a:hover {
    text-decoration: underline;
}

/* LOGIN */
.panel-column {
    height: 75px;
    width: 300px
}

.login-panel {
    margin-left: 20%;
    margin-right: 20%;
    height: 270px;
}

/* REGISTER */
.register-panel {
    margin-left: 20%;
    margin-right: 20%;
    height: 350px;
}

/* ADD BOOK */
.addBook-panel {
    margin-left: 20%;
    margin-right: 20%;
}

.selectonemenu-style {
    width: 210px !important;
}
