body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	width: 960px;
	min-height: 1100px;
	margin: 0 auto;
}

/* HEADER */
.header {
	padding: 10px 0 10px 0;
	border-bottom: 1px solid #C0C0C0;
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#ffffff));
	background-image: -webkit-linear-gradient(top, #999999, #ffffff);
	background-image: -moz-linear-gradient(top, #999999, #ffffff);
	background-image: -o-linear-gradient(top, #999999, #ffffff);
	background-image: linear-gradient(to bottom, #999999, #ffffff);
}

.header a {
	color: black !important;
}

.logo {
	height: 25px;
	width: 95px;
	margin-bottom: -10px;
}

.search-image {
	width: 18px !important;
	height: 18px !important;
	margin-bottom: -3px;
}

.search-button:HOVER {
	background-color: white;
	border-radius: 35px;
}

.margin-top-10px {
	margin-top: 10px;
}

.width-all {
	width: 100%;
	margin: 5px;
}

/* FOOTER */
.footer {
	font-weight: bold;
	color: rgb(204, 204, 204);
	left: 0;
	bottom: 0;
	height: 30px;
	background: #999;
}

/* LINKS */
a {
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	font-size: 1.1em;
	color: #666600 !important
}

a:hover {
	text-decoration: underline;
}

.login-panel {
	margin-left: 20%;
	margin-right: 20%;
	height: 270px;
}

/* REGISTER */
.register-panel {
	margin-left: 20%;
	margin-right: 20%;
	height: 360px;
}

/* ADD BOOK */
.selectonemenu-style {
	width: 210px !important;
}

/* BOOK */
.book-panel {
	border: none;
	clear: both;
}

.book-image {
	width: 35%;
	height: 50%;
	float: left;
	margin-left: 5%;
	margin-right: -100px;
}

.book-cover {
	margin-right: -20px;
}

.book-comments {
	width: 61%;
	margin-top: 10px;
	float: right;
	margin-right: 80px;
}

.book-details {
	width: 60%;
	float: left;
	margin-right: 5%;
}

.book-title {
	font-size: 1.6em;
	margin-right: 5px;
}

.book-author {
	border: none;
	background: none;
	margin-left: -5px;
	font-size: 1em;
}

.book-author-name.ui-button:hover {
	text-decoration: underline !important;
}

.book-ratings-panel.ui-panel .ui-panel-content {
	padding: 0;
	margin-top: 5px;
	margin-bottom: 10px;
}

.book-ratings-panel.ui-panel {
	border: none;
	padding: 0;
	margin: 0;
}

.book-ratings-totalRatings {
	font-size: 0.85em;
}

/* AUTHOR */
.author-panel {
	border: none;
	float: left;
	width: 60%;
	margin-right: 3%;
	margin-top: 15px;
}

.author-panel-column {
	width: 200px;
}

.author-image {
	float: left;
	padding: 15px;
	margin-left: 3%;
}

.author-bold {
	font-weight: bold;
}

.author-books {
	float: left;
	margin: 5% 0 4% 4%;
	width: 85%;
}

.author-about {
	height: 115px;
	overflow: hidden;
	font-size: 0.85em;
}

.author-website {
	text-decoration: underline;
	padding: 0;
	color: #666600 !important;
}

.author-about-expanded {
	height: 0%;
}

.author-show-more {
	clear: both;
	cursor: pointer;
	color: #666600;
}

/* HOME PAGE */
.homepage-recommended {
	font-size: 2em;
	float: left;
}

.homepage-genres {
	margin-right: 5%;
	float: left;
	font-size: 0.9em;
	color: black !important;
}

.homepage-book-datagrid {
	width: 60%;
	float: left;
}

.homepage-genre-datagrid {
	width: 37%;
	float: right;
}

.homepage-genre.ui-button {
	border: none;
	background: none;
	font-size: 0.8em;
}

.homepage-genre.ui-button:HOVER {
	text-decoration: underline !important;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

/* BOOK TEMPLATE */
label {
	display: block !important;
}

.book-template-title {
	font-size: 1em;
}

.book-template-author {
	font-size: 0.85em;
	margin-left: -5px;
}

.book-details-panel {
	font-size: 0.8em;
}

.book-publish-label {
	font-size: 0.8em;
	margin-left: 15px;
}

/* COMMENTS */
.book-review-likes {
	font-size: 0.8em;
	width: 45px;
	float: left;
	text-align: center;
}

.book-review-date {
	font-size: 0.8em;
	float: right;
	color: gray;
	margin-right: 3px;
}

.book-review {
	margin-left: 5px;
}

.book-review-username {
	float: left;
	padding: 0;
	margin-right: 8px;
	color: #666600 !important;
}

.book-review-rating {
	float: left;
	margin-left: 5px;
}

.book-review-like-button {
	margin-left: 3px;
	width: 50px;
}

.book-review-like-button.ui-button-text-only .ui-button-text {
	padding: 3px;
}

.book-review-likes-text {
	margin-top: 4px;
	float: left;
	margin-left: 4px;
}

.not-authorized {
	color: red;
	font-size: 25px;
}